<br>
<form method="post" action="/updateUsers">
	<input type="hidden" name="userCount" value={{users.length}}>
	<table class="table">
	  <thead>
          <tr>
              <th class="text-center" scope="col">First Name</th>
              <th class="text-center" scope="col">Last Name</th>
              <th class="text-center" scope="col">Sex</th>
              <th class="text-center" scope="col">Email</th>
              <th class="text-center" scope="col">Address</th>
              <th class="text-center" scope="col">Password Hash</th>
              <th class="text-center" scope="col">Maintainer</th>
          </tr>
	  </thead>
	  <tbody>
	  	{{#each users}}
          <tr>
              <td class="text-center">{{first_name}}</td>
              <td class="text-center">{{last_name}}</td>
              <input type="hidden" name="username{{@index}}" value="{{email}}">
              <td class="text-center">{{sex}}</td>
              <td class="text-center">{{email}}</td>
              <td class="text-center">{{address}}</td>
              <td class="text-center">{{password}}</td>
              <td class="text-center"><input type="checkbox" name="admin{{@index}}" class="form-check" {{#if admin}} checked{{/if}}></td>
          </tr>
		{{/each}}
	  </tbody>
	</table>
	<div class="text-center">
		<input type="submit" value="Update" class="btn btn-default">
	</div>
</form>